<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @family.person %>
</p>

<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @family.description %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @family.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @family.date_to %>
</p>

<p>
  <strong>Other details:</strong>
  <%= @family.other_details %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
